@import "variables";

* {
    margin: 0;
    padding: 0;

    &, &:before, &:after { box-sizing: border-box; }
}

body {
    font-family: $font-family;
    background: #272727;
    color: #fff;
}

.is-hidden { display: none !important; }

@import "layout";
@import "notice";
@import "game";
@import "controls";
@import "results";
@import "github-link";