.game {
    display: block;
    margin: auto;
    color: #000;

    &__square.is-selected {
        > text { fill: #fff; }
        > rect {
            fill: #8bc34a;
            stroke: #8bc34a;
        }
    }
}